<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>个人名片</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<script type="text/javascript" src="js/zoom/flexible.js"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/style.css" />
		<style>
			.content-body {
				position: relative;
				padding-top: 50px;
				padding-bottom: 50px;
				height: 100%;
			}
			
			.mui-content {
				height: 100%;
			}
		</style>
	</head>

	<body>
		<header class="main-header" id="header">
			<div class="header-search">
				<label><img align="center" src="images/index/search.png" /></label>
				<input type="search" placeholder="服务外包协会"></input>
			</div>
			<div class="header-addIcon">
				<img align="center" src="images/index/add_card.png" />
			</div>
		</header>
		<div class="mui-content" id="content">
			<div id="slider" class="mui-slider">
				<div id="mui-scroll-wrapper" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll" id="mui-scroll">
						<a class="mui-control-item mui-active" href="0">
							全部
						</a>
						<a class="mui-control-item" href="1">
							银行
						</a>
						<a class="mui-control-item" href="2">
							餐饮
						</a>
						<a class="mui-control-item" href="3">
							政府
						</a>
						<a class="mui-control-item" href="4">
							行业协会
						</a>
						<a class="mui-control-item" href="5">
							游戏
						</a>
						<a class="mui-control-item" href="6">
							ITO
						</a>
						<a class="mui-control-item" href="7">
							BPO
						</a>
						<a class="mui-control-item" href="8">
							KPO
						</a>
						<a class="mui-control-item" href="9">
							开发游戏
						</a>
					</div>
				</div>
			</div>

			<div class="content-body content-body-main">
				<div v-for="item in dataList" class="card-model" @tap="open_detail(item)">
					<nav class="nav-tag">
						<div class="tag-items">
							<div id="slider" class="mui-slider slider-card">
								<div class="mui-scroll-wrapper scroll-wrapper-tag mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
									<div class="mui-scroll mui-scroll-tag">
										<ul>
											<div v-if="item.tag" class="tag-items-li" v-for="(tagItem ,index) in item.tag" :class="index | tagItemClass" v-text="tagItem.text"></div>
											<!--<div class="tag-items-li tag-item-2">协会</div>
											<div class="tag-items-li tag-item-3">软件</div>-->
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tag-text mui-ellipsis-1" v-text="item.company">猫爪科技有限公司</div>
					</nav>
					<div class="body-content">
						<div class="body-content-img">
							<img src="" />
						</div>
						<div class="body-content-mess">
							<div class="mess-title">
								<div class="title-name mui-ellipsis-1" v-text="item.name">李晓明</div>
								<div class="title-icon-phone" :data-phone="item.workNum">
									<img align="center" src="images/index/call_to.png" />
								</div>
								<div class="title-icon-adress">
									<img align="center" src="images/index/company_infor.png" />
								</div>
							</div>
							<div class="adress-text mui-ellipsis-1" v-text="item.site">资源对接办公室</div>
						</div>
					</div>
				</div>

				<!--<div class="card-model">
					<nav class="nav-tag">
						<div class="tag-items">
							<div id="slider" class="mui-slider slider-card">
								<div class="mui-scroll-wrapper scroll-wrapper-tag mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
									<div class="mui-scroll mui-scroll-tag">
										<ul>
											<div class="tag-items-li tag-item-1">会员</div>
											<div class="tag-items-li tag-item-2">协会</div>
											<div class="tag-items-li tag-item-3">软件</div>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tag-text mui-ellipsis-1">猫爪科技有限公司</div>
					</nav>
					<div class="body-content">
						<div class="body-content-img">
							<img src="" />
						</div>
						<div class="body-content-mess">
							<div class="mess-title">
								<div class="title-name mui-ellipsis-1">李晓明</div>
								<div class="title-icon-phone">
									<img align="center" src="images/index/call_to.png" />
								</div>
								<div class="title-icon-adress">
									<img align="center" src="images/index/company_infor.png" />
								</div>
							</div>
							<div class="adress-text mui-ellipsis-1">资源对接办公室</div>
						</div>
					</div>
				</div>-->

			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/immersed.js"></script>
		<script type="text/javascript" src="js/util.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript" src="js/mui.slider.js"></script>
		<script type="text/javascript" src="js/config.js"></script>
		<script type="text/javascript" src="js/indexedDB.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				// 创建子webview窗口 并初始化
				var aniShow = {};
				var dataBase = '';
				util.initSubpage(aniShow);

				var nview = plus.nativeObj.View.getViewById('tabBar'),
					activePage = plus.webview.currentWebview(),
					targetPage,
					subpages = util.options.subpages,
					pageW = window.innerWidth,
					currIndex = 0;

				/**
				 * 根据判断view控件点击位置判断切换的tab
				 */
				nview.addEventListener('click', function(e) {
					var clientX = e.clientX;
					if(clientX > parseInt(pageW * 0.1) && clientX <= parseInt(pageW * 0.3)) {
						currIndex = 0;
					} else if(clientX > parseInt(pageW * 0.4) && clientX <= parseInt(pageW * 0.6)) {
						currIndex = 1;
					} else if(clientX > parseInt(pageW * 0.7) && clientX <= parseInt(pageW * 0.9)) {
						currIndex = 2;
					}
					// 匹配对应tab窗口	
					if(currIndex > 0) {
						targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
					} else {
						targetPage = plus.webview.currentWebview();
					}

					if(targetPage == activePage) {
						return;
					}

					//底部选项卡切换
					util.toggleNview(currIndex);
					// 子页面切换
					util.changeSubpage(targetPage, activePage, aniShow);
					//更新当前活跃的页面
					activePage = targetPage;
				});

				//跳转添加名片
				mui('#header').on('tap', '.header-addIcon', function() {
					openView.usuView('pages/card_detail_edit.html', 'card_detail_edit', {type: true});
				})
				//				indexedDB.deleteDatabase('usersDB');

				openDB(function(data) {
					if(data.type == true) {
						searchData('Cards', function(dataArr) {
							vm.dataList = dataBase = dataArr;
						})
					} else {
						plus.nativeUI.toast('获取数据失败！')
					}
				});
				var ws = plus.webview.currentWebview();
				//横向切换
				mui('#mui-scroll').on('tap', 'a', function() {
					var href = this.getAttribute('href');				
					if(href == '0'){
						vm.dataList = dataBase;
						return ;
					}
					ws.setStyle({mask: 'rgba(0,0,0,0.5)'});
					var w = plus.nativeUI.showWaiting("查询中，请等待...", {loading: {icon: "images/waiting.png"},back: "none"});
					selectData(dataBase,href,function(Array){
						vm.dataList = Array;
						ws.setStyle({mask: 'none'});
						w.close();
					});
				})
			});
			
			function selectData(dataBase,number,callback){
				var changeArr = [];
				var Array = dataBase.map(function(value,index,dataBase){
					var tagArr = value.tag;
					var selectArr = [];
					if(tagArr.length != 0){
						tagArr.map(function(val,index,dataBase){
							if(val.index == number){
								changeArr.push(value);
							}
						})
					}
				})
				return callback && callback(changeArr);
			}
			Vue.filter('tagItemClass', function(value) {
				var num = value + 1;
				if(num > 3) {
					num = 20;
				}
				return 'tag-item-' + num;
			})
			var vm = new Vue({
				el: '.content-body-main',
				data: {
					dataList: ''
				}
			});

			function open_detail(data) {
				var database = JSON.stringify(data);
				openView.usuView('pages/self_card.html', 'self_card', {
					database: database
				});
			}
			mui('.mui-scroll-wrapper').scroll({
				deceleration: 0.0005, //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
				scrollX: true
			});
		</script>
	</body>

</html>